In [1]:
#what
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow.keras.layers import *
from tensorflow.keras.models import Model

In [4]:
xtrain = pd.read_csv(r'C:\Users\zhiha\OneDrive\Documents\.Zhihao\.ML\datasets\Chinese Segmentation\as_training.utf8', header=None)
#testdf = pd.read_csv(r'C:\Users\zhiha\OneDrive\Documents\.Zhihao\.ML\datasets\Chinese Segmentation\as_test.utf8', header=None)

In [ ]:
xtrain = pd.read_csv('/content/drive/MyDrive/ML/Datasets/Chinese_segmentation/as_training.utf8', header=None)
#testdf = pd.read_csv('/content/drive/MyDrive/ML/Datasets/Chinese_segmentation/as_test.utf8', header=None)

In [5]:
yraw = xtrain.copy()

xtrain[0] = xtrain[0].str.replace('\u3000','')
yraw.head()

                       0
0                   時間　：
1  三月　十日　（　星期四　）　上午　十時　。
2                   地點　：
3      學術　活動　中心　一樓　簡報室　。
4                   主講　：

In [6]:
xtrain

                     0
0                  時間：
1       三月十日（星期四）上午十時。
2                  地點：
3         學術活動中心一樓簡報室。
4                  主講：
...                ...
708948     成體以海中藻類為主食，
708949        幼體卻為肉食性。
708950             分佈：
708951  主要分佈在熱帶及亞熱帶水域，
708952    溫帶水域亦有其活動記錄。

[708953 rows x 1 columns]

In [24]:
def spaceornot(line):
  splace = []
  for i, char in enumerate(str(line).split()):
    if line[i + 1] == '\u3000':
      splace.append(1)
    elif i == len(str(line).split()) - 1:
      splace.append(1)
    elif line[i + 1] != '\u3000':
      splace.append(0)
    
  return splace

In [26]:
ypred = yraw.apply(spaceornot)

In [12]:
print(len(“你好”))

SyntaxError: invalid character '“' (U+201C) (3421737391.py, line 1)